body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 16px;
  color: #111;
  min-height: 5000px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  outline: none;
  border: none;
}

.container {
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 80px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  color: #fff;
  z-index: 99;
}
#header.scroll {
  color: #111;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
#header.scroll #logo,
#header.scroll .btnAll {
  filter: invert(1);
}
#header::after {
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 79px;
  left: 0;
  z-index: -1;
}
#header .login {
  display: flex;
  position: absolute;
  right: 50px;
  text-transform: uppercase;
  height: 80px;
  align-items: center;
}
#header .btnAll {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  padding: 0;
  display: none;
}
#header .btnAll span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 20px;
  transition: all 0.25s ease-in;
}
#header .btnAll span:nth-child(1) {
  top: 24px;
}
#header .btnAll span:nth-child(2) {
  top: 39px;
}
#header .btnAll span:nth-child(3) {
  top: 54px;
}

#logo {
  position: absolute;
  left: 50px;
  z-index: 3;
}
#logo a {
  display: flex;
  height: 80px;
  align-items: center;
}
#logo a img {
  height: 20px;
  filter: invert(1);
}

#gnb .list {
  display: flex;
  justify-content: center;
}
#gnb .list li .depth01 {
  display: flex;
  height: 80px;
  padding: 0 40px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}
#gnb .list li .depth01::before {
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 0;
  height: 2px;
  background-color: #e77612;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
#gnb .list li .store {
  color: #e77612;
}
#gnb .list li .store::before {
  display: none;
}
#gnb .list li .store::after {
  font-family: "Material Icons";
  content: "\f8ce";
  display: inline-block;
  margin-left: 10px;
}
#gnb .list li .depth02 {
  text-align: center;
  padding: 20px 0;
}
#gnb .list li .depth02 li a {
  display: block;
  padding: 10px 0;
}

#footer {
  padding: 50px clamp(20px, 5vw, 100px);
  display: flex;
  border-top: 1px solid #eee;
}
#footer .addressBox {
  margin-left: 150px;
}
#footer .addressBox .customer {
  margin-bottom: 50px;
  font-size: clamp(16px, 3.6vw, 20px);
  font-weight: 500;
  display: flex;
}
#footer .addressBox .customer dl {
  display: flex;
  padding-right: 30px;
  position: relative;
}
#footer .addressBox .customer dl:after {
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #eee;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#footer .addressBox .customer a {
  margin-left: 30px;
}
#footer address {
  margin-bottom: 50px;
  color: #666;
}
#footer address p {
  margin-bottom: 10px;
  font-size: clamp(12px, 1.5vw, 18px);
}
#footer address p span {
  margin-right: 20px;
}
#footer .utilMenu {
  margin: 30px 0;
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 700;
}
#footer .utilMenu ul {
  display: flex;
}
#footer .utilMenu ul li {
  padding: 0 15px;
  position: relative;
}
#footer .utilMenu ul li:first-child {
  padding-left: 0;
}
#footer .utilMenu ul li:last-child::before {
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #eee;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#footer .copyright {
  color: #ccc;
  font-size: clamp(12px, 1.5vw, 18px);
}
#footer .familySite {
  margin-left: auto;
}
#footer .familySite select {
  height: 50px;
  padding: 0 50px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  outline: none;
  background-position: right 20px top 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url("../images/common/expand_more.svg");
}

@media all and (min-width: 1201px) {
  #header.on {
    height: 300px;
    background-color: #fff;
    color: #111;
  }
  #header.on::after {
    background-color: #ccc;
  }
  #gnb .list > li:hover .depth01 {
    color: #e77612;
  }
  #gnb .list > li:hover .depth01::before {
    transform: scaleX(1);
  }
}
@media all and (max-width: 1400px) {
  #gnb {
    margin-left: 100px;
  }
  #gnb .list > li .depth01 {
    padding: 0 30px;
  }
}
@media all and (max-width: 1200px) {
  #header.open #gnb {
    left: 0;
  }
  #header.open .btnAll {
    display: block;
  }
  #header.open .btnAll span:nth-child(1) {
    top: 39px;
    transform: rotate(45deg);
  }
  #header.open .btnAll span:nth-child(2) {
    left: -100px;
    opacity: 0;
  }
  #header.open .btnAll span:nth-child(3) {
    top: 39px;
    transform: rotate(-45deg);
  }
  #header .btnAll {
    display: block;
  }
  #header .login {
    right: 80px;
  }
  #header::after {
    z-index: 3;
    opacity: 0.5;
  }
  #gnb {
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #e77612;
    color: #fff;
    padding-top: 80px;
    transition: left 0.5s ease-in-out;
  }
  #gnb .list {
    flex-direction: column;
  }
  #gnb .list > li .depth01 {
    padding: 0 0 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  #gnb .list > li .depth01.store {
    color: #fff;
  }
  #gnb .list > li .depth01::before {
    display: none;
  }
  #gnb .list > li .depth02 {
    text-align: left;
    padding: 15px 0;
    background-color: #b85e0e;
    display: none;
  }
  #gnb .list > li .depth02 li a {
    padding: 15px 0 15px 60px;
    position: relative;
  }
  #gnb .list > li .depth02 li a::before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  #footer {
    flex-direction: column;
  }
  #footer .addressBox {
    margin-left: 0;
    margin-top: 30px;
  }
  #footer .addressBox .customer {
    margin: 40px 0;
  }
  #footer .familySite {
    margin-left: 0;
    margin-top: 30px;
  }
  #footer .flogo img {
    height: 25px;
  }
  #footer .utilMenu ul {
    display: flex;
  }
  #footer .copyright {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 1024px) {
  #header {
    height: 60px;
  }
  #header:after {
    top: 59px;
  }
  #header.open .btnAll span:nth-child(1) {
    top: 29px;
    transform: rotate(45deg);
  }
  #header.open .btnAll span:nth-child(3) {
    top: 29px;
    transform: rotate(-45deg);
  }
  #header .login {
    height: 60px;
    right: 60px;
  }
  #header .btnAll {
    height: 60px;
    width: 60px;
  }
  #header .btnAll span {
    width: 30px;
    left: 15px;
  }
  #header .btnAll span:nth-child(1) {
    top: 19px;
  }
  #header .btnAll span:nth-child(2) {
    top: 29px;
  }
  #header .btnAll span:nth-child(3) {
    top: 39px;
  }
  #logo a {
    height: 60px;
  }
  #gnb {
    padding-top: 60px;
  }
  #gnb .list > li .depth01 {
    height: 60px;
  }
}
@media all and (max-width: 760px) {
  #footer .flogo img {
    height: 14px;
  }
  #footer address p {
    margin-bottom: 20px;
  }
  #footer address p.address span {
    display: block;
    margin: 10px 0;
  }
  #footer .copyright span {
    display: block;
    margin-top: 10px;
  }
}
@media all and (max-width: 480px) {
  #logo {
    left: 20px;
  }
  #logo a img {
    height: 15px;
  }
  #gnb .list > li .depth01 {
    padding-left: 20px;
  }
  #gnb .list > li .depth02 li a {
    padding-left: 30px;
    font-size: 14px;
  }
  #gnb .list > li .depth02 li a::before {
    left: 20px;
  }
}