#mainVisual {
  position: relative;
  overflow: hidden;
  min-height: 400px;
}
#mainVisual::before {
  display: block;
  padding-top: 56.25%;
  content: "";
}
#mainVisual .slogan {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: clamp(24px, 5vw, 50px);
  font-weight: 700;
  color: #fff;
  transform: translateY(-50%);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
#mainVisual .slogan .char {
  transform-origin: 0 100%;
}
#mainVisual video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  vertical-align: top;
}

#info {
  display: flex;
}
#info .contentsBox {
  flex-basis: 50%;
  height: 100vh;
  padding: 150px 5vw 0;
}
#info .contentsBox .title {
  margin-bottom: 30px;
  font-size: clamp(16px, 4vw, 48px);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.25;
}
#info .contentsBox p {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1.5;
}
#info .system {
  position: relative;
  color: #fff;
  background-position: right 0 bottom 0;
  background-color: #e77612;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url("../images/main/business_figure_01.png");
}
#info .b2c {
  color: #111;
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url("../images/main/business_figure_02.png");
}

#business {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  min-height: 500px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/main/bg_business.jpg");
  background-attachment: fixed;
}
#business::before {
  display: block;
  padding-top: clamp(400px, 56.25%, 100vh);
  content: "";
}
#business .txtBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
#business .txtBox p {
  margin-top: 30px;
  font-size: clamp(20px, 5vw, 42px);
  line-height: 1.5;
}
#business .txtBox p span {
  display: inline-block;
}

.videoContents {
  position: relative;
}
.videoContents video {
  width: 100%;
  height: 100vh;
  vertical-align: top;
  object-fit: cover;
}
.videoContents video.onlyMobile {
  display: none;
}
.videoContents video.onlyPc {
  display: block;
}
.videoContents .txtBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10vw;
  color: #fff;
  box-sizing: border-box;
  word-break: keep-all;
}
.videoContents .txtBox .title {
  margin-bottom: 30px;
  font-size: 42px;
}
.videoContents .txtBox .sub {
  margin-bottom: 30px;
  font-size: 28px;
}
.videoContents .txtBox .desc {
  margin-bottom: 30px;
  line-height: 1.5;
}
.videoContents#highpass .txtBox {
  left: 50%;
}

#popup {
  width: 60px;
  position: fixed;
  right: clamp(5px, 1.5vw, 25px);
  bottom: 50px;
  z-index: 2;
  font-size: 20px;
}
#popup .plus {
  display: none;
}
#popup .top {
  display: none;
}
#popup.scroll .plus {
  margin-bottom: 20px;
  border-radius: 100%;
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #e77612;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#popup.scroll .plus::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Material Icons";
  content: "\e145";
  display: inline-block;
  margin-left: 0;
}
#popup.scroll .top {
  border-radius: 100%;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
#popup.scroll .top::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Material Icons";
  content: "\f1e0";
  display: inline-block;
  margin-left: 0;
}

#product {
  display: flex;
  overflow: hidden;
}
#product .bg {
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-image: url("../images/main/bg_product.jpg");
}
#product .contentsBox {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  padding: 150px 0 0 5vw;
  box-sizing: border-box;
}
#product .contentsBox .titleBox {
  margin-bottom: 100px;
}
#product .contentsBox .titleBox .title {
  margin-top: 50px;
  font-size: clamp(20px, 3.6vw, 42px);
  font-weight: 700;
  line-height: 1.25;
}
#product .contentsBox .rolling {
  overflow: hidden;
}
#product .contentsBox .rolling li {
  width: 200px;
  text-align: center;
}
#product .contentsBox .rolling li a img {
  width: 200px;
}
#product .contentsBox .rolling li a p {
  margin-top: 20px;
}
#product .contentsBox .navigation {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
#product .contentsBox .navigation a {
  margin-left: 30px;
  text-transform: uppercase;
}
#product .contentsBox .navigation button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  font-size: 36px;
  border: 1px solid #ccc;
  background: none;
  border-radius: 100%;
}
#product .contentsBox .navigation button.prev::before {
  font-family: "Material Icons";
  content: "chevron_left";
  display: inline-block;
  margin-left: 0;
}
#product .contentsBox .navigation button.next::before {
  font-family: "Material Icons";
  content: "chevron_right";
  display: inline-block;
  margin-left: 0;
}

#make {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  text-align: center;
  margin: clamp(30px, 8vw, 150px) 0;
}
#make .title {
  margin-bottom: 30px;
  font-size: 42px;
}
#make p {
  margin-bottom: 30px;
  color: #999;
  line-height: 1.5;
}
#make img {
  width: 70vw;
}

#news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: clamp(20px, 8vw, 100px) clamp(20px, 5vw, 200px);
  min-height: 100%;
}
#news .title {
  margin-bottom: 50px;
  font-size: 42px;
}
#news .menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
  font-weight: 700;
  color: #ccc;
}
#news .menu li {
  margin-left: 50px;
}
#news .menu li:first-child {
  color: #e77612;
}
#news .contents {
  display: flex;
  justify-content: space-between;
}
#news .contents li {
  flex-basis: calc(25% - 20px);
}
#news .contents li .dateBox {
  margin-bottom: 30px;
}
#news .contents li .dateBox span {
  font-weight: 700;
  text-transform: uppercase;
}
#news .contents li .dateBox .date {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  font-weight: 400;
  color: #999;
}
#news .contents li .dateBox .date::before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 1px;
  height: 10px;
  background-color: #333;
}
#news .contents li .txt {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  height: 3em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}
#news .contents li .more {
  text-transform: uppercase;
}

@media all and (max-width: 1400px) {
  #info .contentsBox {
    height: auto;
    position: relative;
    padding: 0;
  }
  #info .contentsBox::before {
    display: block;
    padding-top: 100%;
    content: "";
  }
  #info .contentsBox .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 960px) {
  #info .contentsBox .inner {
    padding: 30px;
  }
  .videoContents .video {
    width: 100%;
  }
  .videoContents video {
    height: 100%;
    object-position: 50% 0;
  }
  .videoContents video.onlyMobile {
    display: block;
    width: 100%;
  }
  .videoContents video.onlyPc {
    display: none;
  }
  .videoContents .txtBox {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: auto;
    bottom: 50px;
  }
  .videoContents .txtBox .title {
    font-size: clamp(24px, 3vw, 42px);
  }
  .videoContents .txtBox .sub {
    font-size: clamp(16px, 2vw, 28px);
  }
  .videoContents .txtBox .desc {
    font-size: clamp(12px, 1vw, 16px);
  }
  .videoContents .txtBox .btns {
    font-size: clamp(12px, 1vw, 16px);
  }
  .videoContents#highpass .txtBox {
    left: 0;
  }
  #product {
    flex-direction: column;
    z-index: 2;
  }
  #product .bg {
    width: 100%;
    height: auto;
  }
  #product .bg:before {
    display: block;
    padding-top: clamp(350px, 56.25%, 100vh);
    content: "";
  }
  #product .contentsBox {
    width: 100%;
    height: auto;
    padding-top: clamp(20px, 15vw, 150px);
  }
  #product .contentsBox .titleBox .title {
    margin-top: clamp(20px, 1em, 50px);
  }
  #make {
    padding: clamp(40px, 10vw, 100px) clamp(20px, 5vw, 100px);
    min-height: auto;
  }
  #make .title {
    font-size: clamp(20px, 3.6vw, 42px);
    line-height: 1.25;
    word-break: keep-all;
  }
  #make p {
    font-size: clamp(12px, 1.3vw, 16px);
    word-break: keep-all;
  }
  #make img {
    width: 100%;
  }
  #news {
    margin-top: 50px;
  }
  #news .title {
    font-size: clamp(20px, 3.6vw, 42px);
    font-weight: 700;
    line-height: 1.25;
    word-break: keep-all;
  }
  #news .menu {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  #news .menu li {
    margin-right: 50px;
    margin-left: 0;
  }
  #news .contents {
    flex-wrap: wrap;
  }
  #news .contents li {
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
  }
  #news .contents li .txt {
    font-size: clamp(18px, 3vw, 28px);
  }
  #news .contents li .more {
    font-size: clamp(14px, 1.5vw, 28px);
  }
  #popup.scroll .plus,
#popup.scroll .top {
    width: 50px;
    height: 50px;
  }
}
@media all and (max-width: 640px) {
  br {
    content: "";
  }
  #info .contentsBox p {
    margin-bottom: 15px;
    font-size: 12px;
  }
  #info .contentsBox .btns {
    font-size: 12px;
  }
}
@media all and (max-width: 480px) {
  #info .contentsBox .inner {
    padding: 20px;
  }
  #info .contentsBox .title {
    margin-bottom: 15px;
  }
  #product .contentsBox {
    padding-right: 20px;
    padding-left: 20px;
  }
  #news .menu {
    margin-bottom: 30px;
    font-size: 14px;
  }
  #news .contents li {
    flex-basis: 100%;
  }
  #popup.scroll .plus,
#popup.scroll .top {
    width: 40px;
    height: 40px;
  }
}