body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 60px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  color: #fff;
  z-index: 99;
}
#header.scroll {
  color: #111;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
#header.scroll .btnAll span {
  background-color: #111;
}
#header.open {
  color: #111;
}
#header.open .login {
  border: 1px solid #111;
}
#header.open #gnb {
  left: 0;
}
#header.open .btnAll span:nth-child(1) {
  background-color: #111;
  top: 30px;
  transform: rotate(45deg);
}
#header.open .btnAll span:nth-child(2) {
  opacity: 0;
}
#header.open .btnAll span:nth-child(3) {
  top: 30px;
  transform: rotate(-45deg);
  background-color: #111;
}
#header::after {
  content: "";
  display: block;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 59px;
  left: 0;
  z-index: -1;
}
#header .login {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 70px;
  text-transform: uppercase;
  padding: 0 10px;
  border: 1px solid #fff;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 12px;
}

#logo {
  position: absolute;
  left: 20px;
  z-index: 2;
}
#logo a {
  display: flex;
  align-items: center;
  height: 60px;
}
#logo a img {
  height: 20px;
}

#gnb {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 60px;
  background-color: #fff;
  color: #111;
  left: 100%;
  transition: all 0.25s ease-in;
}
#gnb .list > li .depth01 {
  display: flex;
  height: 60px;
  padding: 0 30px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}
#gnb .list > li .depth01:not(.store):before {
  font-family: "Material Icons";
  content: "\e5cf";
  display: inline-block;
  margin-left: 0;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 300;
}
#gnb .list > li .store {
  color: #e77612;
}
#gnb .list > li .store::after {
  font-family: "Material Icons";
  content: "\f8ce";
  display: inline-block;
  margin-left: 10px;
}
#gnb .list > li .depth02 {
  text-align: left;
  background-color: #ccc;
  display: none;
}
#gnb .list > li .depth02 li a {
  display: block;
  padding: 20px 0 20px 30px;
  display: flex;
  align-items: center;
}
#gnb .list > li .depth02 li a::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 100px;
  margin-right: 5px;
}

.btnAll {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.btnAll span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 15px;
  transition: all 0.25s ease-in;
}
.btnAll span:nth-child(1) {
  top: 20px;
}
.btnAll span:nth-child(2) {
  top: 30px;
}
.btnAll span:nth-child(3) {
  top: 40px;
}

#footer {
  padding: 80px 20px;
  border-top: 1px solid #ccc;
}
#footer .flogo img {
  width: 100px;
}
#footer .addressBox .customer {
  margin: 40px 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
}
#footer .addressBox .customer dl {
  display: flex;
  margin-right: 30px;
}
#footer .addressBox .customer dl dt {
  margin-right: 10px;
}
#footer address {
  margin-bottom: 30px;
}
#footer address p {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #999;
}
#footer address p span {
  margin-left: 10px;
}
#footer .utilMenu {
  margin-bottom: 20px;
}
#footer .utilMenu ul {
  display: flex;
}
#footer .utilMenu ul li {
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
}
#footer .copyright {
  color: #ccc;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 50px;
}
#footer .familySite {
  margin-left: auto;
}
#footer .familySite select {
  font-size: 12px;
  height: 40px;
  padding: 0 20px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  outline: none;
}